Flask==3.0.3
Flask-SQLAlchemy==3.1.1
Flask-Login==0.6.3
Flask-WTF==1.2.1
Flask-Limiter==3.8.0
SQLAlchemy==2.0.32
python-dotenv==1.0.1
PyJWT==2.9.0
bcrypt==4.2.0
reportlab==4.2.2
qrcode==7.4.2
Pillow==10.4.0
openpyxl==3.1.5
gunicorn==22.0.0
email-validator==2.2.0
Werkzeug==3.0.4
setuptools<81
razorpay==1.4.2
stripe==15.6.1
requests==2.32.3
